<a id='btnSearch' class="ui-btn ui-btn-icon-left ui-icon-action" (click)="getPublishedGuides()">Search</a>

<div *ngIf="users" id="user-list">
	<ul id="user-results">
		<li *ngFor="let user of users">
			{{user.id}}
		</li>
	</ul>
</div>

<div *ngIf="guides" id="guide-list">
	<ul id="guide-results">
		<li *ngFor="let guide of guides">
			{{guide.id}}
		</li>
	</ul>
</div>

<div id="search-list">
	<ul id="search-results">
		<li *ngFor="let guide of guides">
			<a (click)="loadData(guide.creatorId,guide.id,guide.key)">{{guide.title}}</a>
		</li>
	</ul>
</div>